@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */


:root{
   --bright-orange: hsl(31, 77%, 52%);
   --dark-cyan: hsl(184, 100%, 22%);
   --very-dark-cyan: hsl(179, 100%, 13%);
   --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs)*/
   --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons) */
}

*,::before,::after{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   background-color: var(--very-light-gray);
}

p,button{
   font-size: 0.95rem;
   letter-spacing: 1px;
   font-family: 'Lexend Deca', sans-serif;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   max-width: 900px;
   margin: 0 auto;
}

.container .card-wrapper{
   display: flex;
   border-radius: 10px;
   overflow: hidden;
   margin: 20px;
}

.card-wrapper .card{
   max-width: 325px;
   display: flex;
   flex-direction: column;
   padding: 45px;
}

.card-wrapper .card.card-sedans{
   background-color: var(--bright-orange);
}
.card-wrapper .card.card-suvs{
   background-color: var(--dark-cyan);
}
.card-wrapper .card.card-luxury{
   background-color: var(--very-dark-cyan);
}

.card-wrapper .card .card-icon{
   width: 60px;
   margin-bottom: 30px;
}

.card-wrapper .card .card-title{
   font-family: 'Big Shoulders Display', sans-serif;
   font-size: 2.25rem;
   color: var(--very-light-gray);
   text-transform: uppercase;
}

.card-wrapper .card .card-description{
   color: var(--transparent-white);
   line-height: 1.6;
   margin: 30px 0 70px;
}

.card-wrapper .card .card-btn{
   width: max-content;
   background-color: var(--very-light-gray);
   border: 2px solid var(--very-light-gray);
   border-radius: 30px;
   padding: 12px 25px;
   cursor: pointer;
   transition: all .3s ease-in-out;
}

.card-wrapper .card .btn-sedans{
   color: var(--bright-orange);
}
.card-wrapper .card .btn-suvs{
   color: var(--dark-cyan);
}
.card-wrapper .card .btn-luxury{
   color: var(--very-dark-cyan);
}

.card-wrapper .card .card-btn:hover{
   background-color: transparent;
   color: var(--transparent-white);
}

/* RESPONSIVE */
@media screen and (max-width:768px) {
   .card-wrapper{
      flex-direction: column;
   }
}

@media screen and (max-width:425px) {
   .card-wrapper{
      flex-direction: column;
   }
}